<!DOCTYPE html>
<html lang="es">
<%-include('../headerSecciones')-%>
<body>
    <%-include('nav')-%>
    <div class="tablee">
     <table>
      <thead>
        <% if(tabla === "Usuarios") { %>
        <tr>
            <th>#</th>
            <th>Perfil</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Hora</th>
            <th>Fecha</th>
            <th><a href="<%=endPoinst%>" class='aAdd' title="Agregar"><img src="/icon/add.png" class='imgAdd'></a></th>
        </tr>
         <%} else {%>
         <tr>
            <th>#</th>
            <th>Portada</th>
            <th>Nombre</th>
            <th>descripcion</th>
            <th>Archivo</th>
            <th>Categoria</th>
            <th>Hora</th>
            <th>Fecha</th>
            <th><a href="<%=endPoinst%>" class='aAdd' title="Agregar"><img src="/icon/add.png" class='imgAdd'></a></th>
        </tr>
        <% } %>
    </thead>
    <tbody>

      <% peliculas.forEach(pelicula => { %>

      <% if(tabla === "Usuarios") { %>
      <tr>
          <td class='td'><%= pelicula.id %></td>
          <td class='td'><img src='<%= pelicula.perfil%>' class='imgTable'></td> 
          <td class='td'><%= pelicula.nombre %></td>
          <td class='td'><div class='descripcion'><%= pelicula.telefono%></div></td>
          <td class='td'><%= pelicula.correo%></td>
          <td class='td'><%= pelicula.contrasena%></td>
          <td class='td'><%= pelicula.createdAt.toString().split(' ')[4]%></td>
          <td class='td'><%= pelicula.createdAt.toString().split(' ')[2]%>-<%= pelicula.createdAt.toString().split(' ')[1]%>-<%= pelicula.createdAt.toString().split(' ')[3]%></td>
          <td class="icon td">
              <a href="<%=update%><%=pelicula.id%>" title='Actualizar'><img src="icon/update.png" width="30"></a>

              <div class="borrar" style="cursor: pointer;">
                 <img src="icon/delete.png" width="30" class="delete" data-id="<%= pelicula.id%>" title='Eliminar' data-ruta='<%=eliminar%>' data-mensaje='<%=mensaje%>'>   
             </div>

         </td>
     </tr>
     <% } else { %>
      <tr>
          <td class='td'><%= pelicula.id %></td>
          <td class='td'><img src='<%= pelicula.portada%>' class='imgTable'></td> 
          <td class='td'><%= pelicula.nombre %></td>
          <td class='td'><div class='descripcion'><%= pelicula.descripcion%></div></td>
          <td class='td'><%= pelicula.UrlFile%></td>
          <td class='td'><%= pelicula.categoria%></td>
          <td class='td'><%= pelicula.createdAt.toString().split(' ')[4]%></td>
          <td class='td'><%= pelicula.createdAt.toString().split(' ')[2]%>-<%= pelicula.createdAt.toString().split(' ')[1]%>-<%= pelicula.createdAt.toString().split(' ')[3]%></td>
          <td class="icon td">
              <a href="<%=update%><%=pelicula.id%>" title='Actualizar'><img src="icon/update.png" width="30"></a>

              <div class="borrar" style="cursor: pointer;">
                 <img src="icon/delete.png" width="30" class="delete" data-id="<%= pelicula.id%>" title='Eliminar' data-ruta='<%=eliminar%>' data-mensaje='<%=mensaje%>'>   
             </div>

         </td>
     </tr>
     <% }; %>

     <% }); %>
 </tbody>
</table>
</div>
<script type="text/javascript">
 let divBorrar = document.querySelectorAll('.borrar');
 let idMovie,imgDelete,endPoinst,mensaje;
 

for(let p = 0 ; p < divBorrar.length; p++){
imgDelete = divBorrar[p].querySelector('.delete');
mensaje= imgDelete.dataset.mensaje;
divBorrar[p].addEventListener('click',()=>{
   
Swal.fire({
  title: '¡Confirmar nuevamente!',
  text: `¿Estás seguro de que deseas eliminar ${mensaje}?`,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Sí, eliminar',
  cancelButtonText: 'No, cancelar'
}).then((result) => {
  if (result.isConfirmed) {
    // Código para eliminar la película
    
    console.log(imgDelete, 'imgDelete');
    endPoinst = imgDelete.dataset.ruta;
    idMovie = imgDelete.dataset.id;
    fetch(endPoinst,{
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({id:idMovie})
    })
    .then(res => res.json())
    .then(respuesta => {
      if (respuesta.message == true) {
        Swal.fire(`${mensaje} Eliminada`)
        .then(() => {
          location.reload();
        });
      }
    })
    .catch(error => {
      console.error(`Error al eliminar : ${mensaje}`, error);
      Swal.fire(`Error al eliminar ${mensaje}`, error.message, 'error');
    });
  } else {
    // Código para cancelar la eliminación
    Swal.fire('Cancelado', `${mensaje} no se eliminó`, 'info');
  }
});


});
}

window.addEventListener('load',()=>{
  fetch('/addPeli')
  .then(res=>res.json())
  .then(respuesta =>{
    if(respuesta.message){
      Swal.fire(`¡${mensaje} Agregada!`)
      .then(()=>{
        fetch('/deleteAlertPeli')
        .then(res=>res.json())
        .then(r =>{
          if(r.message){
            console.log('Cookie eliminada de addPeli');
          }
        })
      })
    }
  })
})
 

</script>
</body>
</html>
